body{
    background-color: #F3EFE7;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    background-color: #252422;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style-type: none;
    margin-right: 40px;
}
a{
    font-family: inter, sans-serif;
    text-decoration-line: none;
    color: #C9A09A;
}
.logo{
    font-family: "Cormorand Garamond";
    color: #C9A09A;
    font-size: 30px;
    margin: 0;
    margin-left: 40px;
}
.hero-container{
    background-color: #b55239;
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 48px;
}
.hero-container img{
    width: 500px;
    height: auto;
    margin-right: 48px;
}
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 48px;
}
.hero button{
    margin-top: 32px;
}
.cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
.cards{
    display: flex;
    justify-content: space-between;
}
figure img{
    border-radius: 12px;
    margin: 20px;
}
.quote{
    background-color: #777455;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
.cta-container{
    background-color: #b55239;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 24px;
}
footer{
    background-color: #252422;
    width: 100%;
    text-align: center;
    color: #C9A09A;
    padding: 18px;
}
button{
    border-radius: 8px;
    background-color: #252422;
    color: #C9A09A;
    font-family: inter;
    font-size: 14px;
    padding: 8px;
}
.main-font{
    font-family: "Cormorant Garamond";
    font-weight: bold;
    font-size: 30px;
}
.secondary-font{
    font-family: inter, sans-serif;
    font-size: 12px;
}